/* La novaj stildifinoj por la artikoloj, ni ne 
plu uzas ilin aparte, sed kunkompilas kun kadro.css ktp. */

/* HTML-elementoj */
BODY, ARTICLE, HEADER, FOOTER {
    background-color: var(--main-bgr-clr); 
    color: var(--main-fnt-clr); 
    padding-right: min(2%,1.5em);
    padding-left: min(1%,.75em);
      /*font-family: "Latin Modern Roman", "TimesNewRoman", "Liberation Serif", serif;*/
      /*font-family: "Utopia", "TimesNewRoman", "Liberation Serif", serif;*/
    }


main h1, article h1 {
    color: var(--main-fnt-clr) !important;
    /*font-size: large*/
    }
main h2, article h2 {color: var(--main-fnt-clr); 
    font-size: 110%; 
    background: var(--mh2-bgr-clr);
/*    background-image: url(angulo.png);
    background-repeat: no-repeat;
    */

    border-top-left-radius: .7em;
    padding-left: 1ex;
    padding-top: 0.5ex;
    padding-bottom: 0.5ex;
    margin-top: 2ex;
    margin-block-start: 0.5em;
    margin-block-end: 0em;
}

/*** H3 ne plu estas uzata en artikoloj, sed eble tamen en kadro "precipa" - necesas kontroli tion!
H3 {font-size: 90%; border-top-width: 2px; border-top-style: solid; 
  border-top-color: #E0E0A0; padding-top: 0.5ex}
***/

  /* ni limigu tion al larĝaj ekranoj,
  por pli malvastaj la spacoj inter la vortoj tro kreskus... 
  vd. kadro.css
DD {text-align: justify} */

HR {
  border-style: dotted; 
  border-color: var(--main-fnt-clr); 
  border-top-width: 2px;
  border-bottom-width: 0px;
  margin-top: 4ex}

main DL {
    margin-block-start: 0;
    margin-block-end: 0;
}
DT.subart { 
    border-top-style: dotted; 
    border-width: 2px; 
    padding: 1ex;
    margin-top: 2ex; 
    margin-bottom: 1ex; 
    font-weight: bold; 
}

section.drv {
    width: 100%;
}

/* ni provas ordigi difinojn ktp. flank-al-falnke kun la listo de tradukoj */
section.drv>div, section.subart>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1em;
}

div.drv-enh, div.subart-enh, dl.tradukoj {
    max-width: 50em;
    line-height: 120%;
}

div.drv-enh dl, div.subart-enh dl {
    display: grid;
    grid-template-columns: 1em auto;
    margin-block-start: 0;
    margin-block-end: 0;
}

div.drv-enh dt, div.subart-enh dt {
    grid-column-start: 1;
    margin-top: .5em;
}
  
div.drv-enh dd, div.subart-enh dd {
    grid-column-start: 2;
    margin-left: 0.5em;
    margin-top: .5em;
    padding: 0;
}

div.drv-enh dl span, 
div.subart-enh dl span,
div.subart-enh dl>div {
    grid-column: 1 / span 2;
}

div.fontoj {
    margin: 1em;
    border-top: 1px solid var(--main-brd-clr); 
}

div.tezauro {
    /* provizore... */
    /* background-color: lightsalmon; */
    border: 2px dotted var(--main-brd-clr);
    border-top: 0;
    margin-top: -1em;
    margin-bottom: .3em;
    padding: .3em;
    width: 100%;
}

div.tezauro p {
    margin: 0;
    /* 16px (img) + 2*6 (margin) */
    padding-left: 28px;
    text-indent: -28px;
}

section.admin {
    margin-top: 1em;
}

section.tradukoj {
    margin-top: 0.5em;
    margin-left: 1em;
    margin-right: 1em;

    display: flex;
    justify-content: flex-end;
}

dl.tradukoj {
    height: fit-content;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    /*
    display: grid;    
    grid-template-columns: auto auto;
    */

    padding-left: 0.5em; 
    padding-right: 0.5em; 
    border-left: 2px solid var(--main-brd-clr); 
    border-right: 2px solid var(--main-brd-clr); 
}  

dl.tradukoj {
    display: grid;
    grid-template-columns: max-content auto;
    margin-block-start: 0;
    margin-block-end: 0;
}
  
dl.tradukoj dt {
    grid-column-start: 1;
}
  
dl.tradukoj dd {
    grid-column-start: 2;
    margin-left: 0.5em;
}

dl.tradukoj span[lang='bo']
{
    font-size: 150%;
    line-height: 120%;
    vertical-align: text-top;
}

dl.tradukoj span[lang='sgn'] svg {
    border: 1px solid var(--svg-brd-clr); 
    border-radius: 3px;
    background: var(--svg-bgr-clr);
    padding: .2em;
    margin-left: 0.1em;    
}

dl.tradukoj span[lang='zh'], 
dl.tradukoj span[lang='ja'] {
    font-size: 120%;
    /*line-height: 120%;
    vertical-align: text-top; */
}

dl.tradukoj span[lang='zh'] .pr 
{   /* Pinjino en normala grandeco: 83.33 * 120 = 100 */
    font-size: 83.33%;
}


dl.tradukoj .lng {
    color: var(--label-fnt-clr); 
    /* margin-right: 0.5em;*/
}
/*
.trd h3 { 
    display: inline;
    border-style: none;
    font-weight: normal;
    color: gray; padding-right: 0.7em; 
}
.trd h3::after { content: ": " }
div.trd_lng_2 { display: inline; line-height: 135%;  }
*/

SUP {font-size: 75%}
SUP.ofc { margin-right: 0.7ex; }


/* ekzemploj */
.ekz {color: var(--ekz-fnt-clr)}
.rimekz {font-style: italic}

/* difinoj */
.dif,
.drvdif,
.sncgrpdif {
    color: var(--main-fnt-clr)
}

/*
em.ke::before {
  content: "٭\a0";
  font-style: normal;
}*/

em.ke {
    /*border-bottom: 1px dotted var(--main-brd-clr)*/
    text-decoration: underline dotted var(--main-brd-clr);
    text-decoration-thickness: 1px;
}

/* rimarkoj */
div.rim { margin-top: .3em; }
.rim {color: var(--rim-fnt-clr)}

/* referencoj */
.ref,
A.ref {color: var(--ref-fnt-clr) !important}
A.ref:active, 
A.ref:hover { color: var(--main-act-fnt-clr) !important}

A.ref sup {
    font-style: italic;
    /* tio ŝajne ne malŝaltas substrekon, ni povus ankoraŭ kontroli la ordon 
    de la stildifinoj aŭ movi sup ekster a? */
    text-decoration: none !important;
}

/* tio ne bone funkcias...*/
@keyframes tezauro_h {
    /*
    0% {height: 0}
    100% {height: auto}
    */
    0% {
        transform: scaleY(0);    
        transform-origin: top;
        /*transition: transform 0.26s ease;*/
        /* opacity: 0; color: var(--main-bgr-clr)*/}
    100% {
        transform: scaleY(1);
        /*opacity: 1; /*color: var(--ref-fnt-clr)*/}
}

div.tezauro {
    /*transition: height 2s; */
    animation: tezauro_h .7s 1;
}    


.tezauro A.ref {
    text-decoration: none !important;
}

.tezauro A.ref:hover {
    text-decoration: underline !important;
}


/* klarigo */
.klr {font-style: normal}

/*tradukoj*/
.trd {color: var(--label-fnt-clr)}

.rimtrd,
.diftrd {font-style: italic}

.trdeo {color: var(--label-fnt-clr); font-weight: bold}
.trdnac {color: var(--label-fnt-clr)}

/* fontindikoj en la teksto */
.fnt {font-style: normal}
.fntref { font-style: normal; font-stretch: extra-condensed }
h1 sup.fntref { font-size: .6em }
h2 sup.fntref { font-size: .8em }

/* fontindikaj piednotoj */
.fontoj {
    color: var(--fnt-fnt-clr); 
    font-size: small
}
span.fontoj {
    display: inline-block;
    margin-left: 1.2em;
    text-indent: -1.2em;
}
.notoj {color: var(--adm-fnt-clr); font-size: small}
/* notoj pri mankoj */
.mankoj {font-family: monospace; font-size: small}

/* redaktolinio malsupre de la artikolo */
.redakto {color: var(--label-fnt-clr)}


/* A... */
A:link, A:visited {color: var(--a-fnt-clr)}

A.dif:link, 
A.ekz:link, 
A.bld:link, 
A.klr:link, 
A.ref:link, 
A.fnt:link, 
A.fntref:link, 
A.rim:link,
A.mankoj:link,
A.redakto:link,
A.dif:visited, 
A.ekz:visited, 
A.bld:visited, 
A.klr:visited, 
A.ref:visited, 
A.fnt:visited, 
A.fntref:visited, 
A.rim:visited,
A.mankoj:visited,
A.redakto:visited {
    text-decoration: underline; 
    color: inherit;
}

A:hover {
    color: var(--main-hov-fnt-clr) !important;
    cursor: pointer;
}
A.active {
    color: var(--main-act-fnt-clr) !important
}

/* bildoj k.s. */

IMG { 
    background: none 
}

/** tio venos post kadro.css IMG.ref kaj tiel kolizias...
@media (prefers-color-scheme: dark) {
    article IMG.fak {
        filter: invert(1) brightness(0.8) sepia(0.9);
    }

    article IMG[src$='gif'] {
        filter: invert(1) brightness(0.8) sepia(0.9);
    }    
}
***/

.center {
    text-align: center;
}

/* malnova, ni devas lasi, ĝis ĉiuj artikoloj transformiĝis al la nova strukturo kun ĉirkaŭa div.bld! */
OBJECT.svg, OBJECT, IMG.svg, EMBED.svg {
    border-color: var(--svg-brd-clr); 
    border-width: 1px; 
    background: var(--svg-bgr-clr); 
    border-style: solid; 
    padding: 2px; 
    margin: 0.5em
}

IMG.bld {
    max-width: 100%;
    border-color: var(--bld-brd-clr); 
    border-width: 1px; 
    background: var(--bld-bgr-clr); 
    border-style: solid; 
    padding: 2px; 
    margin: 0.5em
}

/* stiloj por nova strukturo kun ĉirkaŭa div.bld ebliganta marki areojn en la bildo,
  malsupre ni superskribas la agordojn por OBJECT/EMBED/IMG
 */
div.bld.svg { 
    /* heredata de div.bld:
    position: relative;
    */

    border-color: var(--svg-brd-clr); 
    background: var(--svg-bgr-clr); 

    /*
    border-width: 1px; 
    border-style: solid; 
    padding: 2px; 
    */
} 

div.bld { 
    position: relative;
    width: fit-content;
    height: fit-content;

    max-width: 100%;
    border-color: var(--bld-brd-clr); 
    border-width: 1px; 
    background: var(--bld-bgr-clr); 
    border-style: solid; 
    padding: 2px; 

    margin-top: .5em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5em;
}

div.svg>OBJECT.svg, 
div.svg>OBJECT, 
div.svg>IMG.svg, 
div.svg>EMBED.svg { 
    border: none; 
    background: none; 
    padding: 0; 
    margin: 0;
} 

div.bld>IMG.bld { 
    border: none; 
    background: none; 
    padding: 0; 
    margin: 0;
}

.bld-mrk {
    position: absolute;
    /* border: 2px solid gray; */
    background:rgba(0,0,160,20%);
    border-radius: 5%;
}

IMG.fak { 
    height: 1.5em; 
    vertical-align: bottom; 
    background: none;
}

IMG.tez { 
    height: 1.2em; 
    padding: 1px; 
    vertical-align: bottom;
    border-radius: 20%; 
    border: 2px outset transparent
}

IMG[alt='Vikipedio'] {
    /* forŝovu flanken la originan bildon por
    montri anstataŭe la SVG-fonon el piktogram.css */
    position: relative;
    overflow: hidden;
    width: 16px;
    height: 12px;
    padding: 16px 12px 0 0;
    margin-left: 6px;
    margin-right: 6px;
    box-sizing: border-box;
    /*background: url('/revo/smb/i_wiki.svg') no-repeat;
    background-size: contain;
    border-bottom: 1px solid;*/
    margin-bottom: -.1em;
}

     
/* 
    tezaŭrobildoj funkcias simile al butono, do eble ni uzu la klason "btn" anstataŭe... 
    momente ili ne (plu?) estas parto de la artikolo, sed eble ankoraŭ en la tez-indeksoj...
*/
/*
A IMG.tez:focus {background-color:  #c0c090; border: 2px outset gray}
A IMG.tez:hover {background-color:  #c0c090; border: 2px outset gray}
A IMG.tez:active {background-color:  #a0a070; border: 2px inset gray}

A IMG.tez:focus {background-color:  var(--btn-act-bgr-clr); border: 2px outset var(--btn-act-brd-clr)}
A IMG.tez:hover {background-color:  var(--btn-hov-bgr-clr); border: 2px outset var(--btn-act-brd-clr)}
A IMG.tez:active {background-color:  var(--btn-act-bgr-clr); border: 2px inset var(--btn-act-brd-clr)}
*/

/*
A.tez-ref { 
    text-decoration: none; 
    color: var(--icn-fnt-clr); 
    font-weight: normal; 
    padding: 0.1em; 
    border-radius: 40%
}

A.tez-ref:visited { 
    background-color: transparent; 
    color: var(--icn-fnt-clr)
}

A.tez-ref:focus, 
A.tez-ref:active {
    background-color: var(--icn-act-bgr-clr); 
    color: var(--icn-act-fnt-clr)
}

A.tez-ref:hover {
    background-color: var(--icn-hov-bgr-clr); 
    color: var(--icn-hov-fnt-clr)
}
*/


IMG.viki { 
    height: 1.2em; 
    vertical-align: bottom;
    border-radius: 20%; 
    border: 2px outset transparent
}

A IMG.viki:focus,
A IMG.viki:active {
    background-color: var(--tez-act-bgr-clr); 
    border: 2px outset var(--tez-act-fnt-clr)
}

A IMG.viki:hover {
    background-color: var(--tez-hov-bgr-clr); 
    border: 2px outset var(--tez-hov-fnt-clr)
}


/*
.kuketoaverto { 
    position: fixed; 
    bottom: 0px; 
    left: 5%; 
    width: 90%; 
    min-height:7em;
    background-color: var(--ovr-bgr-clr); 
    margin: 0; 
    display: none;
    border-radius: 5px 5px 0 0; 
    border: 1px solid var(--ovr-brd-clr); 
    border-bottom: none
}
.kuketoaverto P { text-align:center }
.kuketoaverto FORM { text-align:center }
*/

/* formuloj */
.frm { font-style: normal }
.frm_am { font-size: 90% }

.nom,
.nac {
    letter-spacing: .05em;
}

.bld_atrib,
.bld_atrib:link,
.bld_atrib:visited,
.bld_atrib:focus,
.bld_atrib:hover,
.bld_atrib:active { 
    font-size: 80%; 
    color: var(--label-fnt-clr)
}

/* tildoj en ekzemploj */
.ekztld { 
    font-weight: bold 
} /*text-decoration: underline solid #775533} */

.kashilo, 
.etendilo, 
.pref {
    border: 1px solid var(--btn-brd-clr);
    box-shadow: none;
}
.kashilo:hover, 
.etendilo:hover, 
.pref:hover {
    background-color: var(--btn-hov-bgr-clr);
    color: var(--btn-hov-fnt-clr);
    border: 1px solid var(--btn-hov-brd-clr);
}

.kashilo:active,
.kashilo:focus, 
.etendilo:active,
.etendilo:focus, 
.pref:active,
.pref:focus {
    background: var(--btn-act-bgr-clr);
    color: var(--main-act-fnt-clr);
    border: 1px solid var(--btn-act-brd-clr);
}

.kasxita { display: none !important; }

i.ekz { 
    display: block; 
    margin-left: .4em; 
    text-indent: -1.6em; 
    text-align: left 
}

i.ekz::before, 
span.ekztrd::before { 
    content: "\00a0•\00a0" 
}


#kash_btn {
    position: fixed;
    right: .75em;
    /*bottom: 50%;
    margin-bottom: -1rem;*/
    top: 40%;
    display: flex;
    flex-direction: column;
}

#tez_btn {
    position: fixed;
    right: .75em;
    /*bottom: 50%;
    margin-bottom: -1rem;*/
    top: .7em;
    display: flex;
    flex-direction: column;
}

a.tez-ref {
    /* kaŝu malnovajn tezaŭro-ligilojn */
    display: none;
}

h2 a[href^="http://eo.wikipedia.org"] {
    /* kaŝu malnovajn Vikipedio-ligilojn */
    display: none;
}

/* pro Safari-eraro en frameset
   subtenante la malnovan fasadon.... */
body>#kash_btn {
    position: absolute;
    top: 80vh;
}

#kash_btn BUTTON,
#tez_btn BUTTON {
    height: 2rem;
    width: 1.5rem;
    margin: .3em .2em;
    background-size: 80%;
    background-position: center; 
    /*border: 1px solid gray;*/
    box-shadow: 1px 1px 3px var(--main-shd-clr);
    background-color: var(--btn-bgr-clr);
    opacity: .8;

    /* border: none; */
    border: 1px solid var(--btn-brd-clr);
    border-radius: .4em;
}

article BUTTON {
    height: 1.5rem;
    margin: .1em .2em;
    /*border: 1px solid gray;*/
    box-shadow: 1px 1px 3px var(--main-shd-clr);
    background-color: var(--btn-bgr-clr);

    /* border: none; */
    border: 1px solid var(--btn-brd-clr);
    border-radius: .5em;
}

article BUTTON:hover, 
#kash_btn BUTTON:hover,
#tez_btn BUTTON:hover {
    background-color: var(--btn-hov-bgr-clr);
    color: var(--btn-hov-fnt-clr);
    border: 1px solid var(--btn-hov-brd-clr);
}  

article BUTTON:active,
#kash_btn BUTTON:active {
    background-color: var(--btn-act-bgr-clr);
    color: var(--btn-act-fnt-clr);
    border: 1px solid var(--btn-act-brd-clr);
}

.icon_btn {
    height: 1.2rem;
    width: 1.2rem;
    /*display: inline-block;*/
    float: right;
    color: var(--icn-fnt-clr);
    /* padding: 1rem 2rem; */
    padding: .2em;
    margin: .2em;
    text-decoration: none;

    /*box-shadow: 1px 1px 2px;*/
    box-shadow: none;
    /*font: inherit;*/
    font-size: 1rem;
    /*font-family: sans-serif;
    font-size: 1rem; */
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

H2 .icon_btn {
    float: right; 
    border: none;
    height: 1rem;
    width: 1rem;
    margin-bottom: -.06rem;
}

H2 .icon_btn:hover, 
H2 .icon_btn:active, 
H2 .icon_btn:focus {
    border: none;
}

H2 .i_tez,
H2 .i_mtez {
    /* ni jen provas etendi la altecon
    al la tuta titolo... por eviti mispremojn! 
    ĝeneas padding-top, padding-bottom de la parenca H2 */

    /*
    position: relative;
    float: none;
    */
    float: right;

    margin-top: -.3em;
    margin-bottom: -.5em;
    margin-left: .5em;
    /*padding: .1em;*/
    /*float: none;*/
    width: 2.5em;
    height: 1.8em;
    vertical-align: middle;
    /*height: 1.9em;*/
    background-position: center .5em;
    background-size: 1.2em;
    /* margin: 0; */
    /* padding: 0; */
    border: 0;
    box-shadow: none;
    border-radius: 0;
    /*
    border-left: 2px dotted var(--main-brd-clr);
    border-right: 2px dotted var(--main-brd-clr);
    */
}

dt.pli, .ekz.pli, a.pli {
    font-style: normal;
    color: var(--label-fnt-clr);
    border: none;
}

.pref, a.pref {
    font-style: oblique;
    color: var(--label-fnt-clr);
    border: none;
}


#pref_lng, #alia_lng {
    list-style: none; /* Remove list bullets */
    padding-left: 0;
    margin-block-start: .2em;
}

#pref_lng {
    font-weight: bold;
    color: var(--lst2-fnt-clr);
}

#alia_lng {
    columns: 2;
    color: var(--list-fnt-clr);
    column-gap: .15em;
}

#pref_lng li, 
#alia_lng li {
    margin: .11em;
    padding: .1em .5em;
    border-radius: 2px;
}

#pref_lng li {
    background: var(--lst2-bgr-clr);
}
#alia_lng li {
    background: var(--list-bgr-clr);
}

#pref_lng li:before {
    content: "\2296"; /* Insert content that looks like bullets */
    padding-right: .5em;
}   

#alia_lng li:before {
    content: "\2295"; /* Insert content that looks like bullets */
    padding-right: .5em;
}                           

#pref_lng li:hover, 
#alia_lng li:hover {
    background-color: var(--list-bgr-clr);
}              

#pref_lng li:active, 
#alia_lng li:active {
    background-color: var(--list-act-bgr-clr);
    ;
}    


.preferoj {
    display: grid;
    grid-template-columns: auto auto;
    padding: 0.3em;
    gap: 0.2em 0.2em;
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
}

.preferoj .tabs {
    margin-bottom: .2em;
}

.preferoj H3 {
    margin-block-start: .3em;
    margin-block-end: 0;
    font-size: 100% /* 100% = pli malgranda ol apriore */
}

#dlg_referenco {
    width: fit-content;
    bottom: 3em;
}



#w\:ix_literoj {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: right;
}

#w\:ix_literoj span {
    padding: 0 .3em;
    border-left: 2px solid var(--main-brd-clr)
}

.square_min {
    background-color: black;
    font-size: 0.2em;
    height: 0.2em;
}
.square_mid {
    background-color: black;
    font-size: 0.6em;
    height: 0.6em;
}
.square_max {
    background-color: black;
    font-size: 1em;
    height: 1em;
}

.art-hist td:first-child {
    /*font-family: "Lucida Console", Monaco, monospace; */
    white-space: nowrap;
    padding-right: .5em;
}

.art-hist td:nth-child(2) {
    /*font-family: "Lucida Console", Monaco, monospace;*/
    font-family: monospace;
    white-space: nowrap;
    padding-right: .5em;
}

.art-hist td:nth-child(3) {
    font-style: italic
}


@media (max-width: 50em) {
    .art > DL > DD {
        margin-left: 0.5em;
        margin-block-start: -1.2em;
    }
    #tez_btn {
        top: 3.7em;
    }
}

@media (min-width: 30em) {

    header, footer, article section {
        padding-right: 1em;
    }

    div.drv-enh dl, div.subart-enh dl {
        grid-template-columns: 2em auto;
        grid-gap: 0.5em;    
    }

    #kash_btn BUTTON {
        opacity: 1;
    }

    div.fontoj {
        margin: 1em 3em;
    }    

    section.tradukoj {
        margin-left: 2em;
        margin-right: 2em;
    }
}

@media (min-width: 50em) {
    
    section.tradukoj {
        margin-right: 4em;
    }

    i.ekz {
        margin-left: 1.6em; 
    }
}

@media (max-width: 30em) {
    #alia_lng {
        columns: 1;
    }

    .fnturl { /* bridu tro longajn URL-ojn...
        Iom ĝenas, ke tio funkcias nur kun inline-block, sed
        tiel la fnt-teksto ne plu komplete fluas kaj la sekvanta komo
        povas aperi kun sufiĉe da spaco antaŭe.

        Ankaŭ ĝenas, ke ĝi trafas ne nur senspacajn URL-ojn sed ankaŭ
        pli longajn titolojn, kiujn ja eblas linirompi.

        Verŝajne tion ni povus kontentige solvi nur mallongigante la URL-on
        jam en la XSL-transformo
        */
        vertical-align: top;
        max-width: 22.5em;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        text-indent: 0;
        /* se la fnt-teksto enhavas spacojn, ni povas
        ĝin rompi, sed tro longajn URL-ojn ni fortranĉas:
        white-space: nowrap;*/
    }
}

@media (max-height: 30em) and (min-width: 30em) {
    #alia_lng {
        columns: 3;
    }
}


