@import url("koloroj.css");

:root {
    --button-size: 3em;
    --small-button-size: 2.4em;
    --toggle-size: 1.79em;
}

textarea {
    margin: 0; /*1px 0.3em;*/
    height: 25em;
    min-height: 8em;

    background-color: var(--input-bgr-clr);
    color: var(--input-fnt-clr);

    flex: 1; /* consume available width */     
}

#navigado fieldset {
    /*
    display: flex;
    flex-direction: row;*/
    background-color: var(--nav-bgr-clr);
    border: none;
    border-bottom: 2px dotted var(--nav-brd-clr);
    
    margin: 0;
    margin-bottom: .1em;
    padding: .2em;
}

#r\:fs_toggle {
    border-bottom: 2px dotted var(--nav-brd-clr);
}


fieldset legend {
    text-decoration: underline;
    font-weight: bold;
    /*font-family: monospace;*/
    padding: 0.3em;
    border-radius: 4px;
    background-color: var(--nav-bgr-clr);
}

select {
    background-color: var(--input-bgr-clr);
    color: var(--input-fnt-clr);
    /*border-width: 2px;
    border-radius: 3px;*/
    /*-webkit-appearance: none;*/
    padding: 0.3em 0.5em;
    /*font-size: 1rem;*/
}

fieldset input, #r\:tab_tkonservo input[type="text"] {
    background-color: var(--input-bgr-clr);
    color: var(--input-fnt-clr);

    margin: 3px 1px;
    padding: 0.3em;
    /*font-size: 1rem;*/
    max-width: 40%;
}

button, input[type="button"], input[type="checkbox"] {
    background-color: var(--btn-bgr-clr);
    border-color: var(--btn-brd-clr);
    border-radius: 3px;
    color: var(--btn-fnt-clr);

    padding: 0.3em 0.5em;
    /*border-radius: 3px;*/
    /*box-shadow: 1px 1px 2px;*/
    /*box-shadow: 2px 2px .5em;*/
    border-width: 0;
    box-shadow: 1px 1px 3px;

    /*font-family: monospace;*/
    /* font-size: 1rem;*/
}

button:disabled, input[type="button"]:disabled, input[type="checkbox"]:disabled {
    background-color: var(--btn-dis-bgr-clr);    
}

#r\:agobutonoj button {
    padding: .1em .3em;
}

fieldset button, fieldset select {
    padding: .1em;
}

.tabs {
    margin: 0;
    /*
    margin-left: 0.5em;
    margin-top: 0em;
    margin-bottom: 1em;
    */
    /* eble nur se ekranspaco sufiĉas: line-height: 2em;*/
    color: inherit;
}   

main .tabs {
    line-height: 2em;
}

.tabs > label {
    font-weight: bold;
    text-align: right;
    padding: .1em;
}

.tabs > label::after {
    content: ":\00a0"
} 
.tabs input {
    display: none;
} 
.tabs input:checked + label {
    padding: .1em;
    /*background: var(--list-act-bgr-clr);*/
    border-bottom: 3px solid var(--main-brd-clr);
} 

.tabs a {
    padding: 0.3em;
    /*background-color: palegoldenrod; */
    /*font-family: monospace;*/
    font-weight: bold;
    /*color: black;*/
    text-decoration: none;
}

main .tabs a {
    padding: 0.5em;
}
 
main .tabs a.aktiva {
   font-weight: bold;
   /*color: black;*/
   /*text-transform: uppercase;*/
   text-decoration: underline;

   border-left: 4px solid var(--main-brd-clr);
   border-right: 4px solid var(--main-brd-clr);   
   background-color: var(--main-act-bgr-clr);
}


#navigado .tabs a.aktiva {
    font-weight: bold;
    padding: .1em;
    /* ŝanĝiĝanta larĝeco ĝenas! text-transform: uppercase;*/
    border-bottom: 3px solid var(--nav-act-brd-clr);
}

#navigado .tabs a.fona {
    font-weight: bold;
    text-shadow: 2px 2px 5px var(--nav-act-bgr-clr);
    padding: .1em;
    border-bottom: none;
}


.titolpagho form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: -.2em;
}

.titolpagho form>*{
    margin-right: .6em;
}

.titolpagho input {
    height: 2em;
    opacity: .8;
    
    background-color: var(--input-bgr-clr);
    color: var(--input-fnt-clr);
    /*filter: invert(1);*/

    /*
    border: 2px solid darkslategray;
    border-radius: 4px;    
    */
} 

#x\:nav_srch_btn {
    /*background: url(../smb/revo.svg) no-repeat;*/
    height: var(--small-button-size) !important;
    width: var(--small-button-size) !important;
    margin: .1em;
    border-radius: 50%;

    flex-grow: 0;
    flex-shrink: 0;
    /*
    background-position: 0 -.2em;
    background-size: contain;
    */
}

.sercho {
    background-color: var(--input-bgr-clr);
    color: var(--input-fnt-clr);
    border: 2px solid var(--nav-brd-clr);
    border-radius: 2px;

    /*margin: 3px 1px 0px 1px;*/
    /*padding: 0.3em 0.5em;*/
    flex: 2;

    /*max-width: 90%;*/
    width: 5em;

    /*font-size: 1rem;*/
    display: flex;
    justify-content: space-between;
}


.sercho input {
    background-color: var(--input-bgr-clr);
    color: var(--input-fnt-clr);
    margin-left: .2em;

    border: none;
    flex: 2;
    overflow: hidden;
    /*max-width: 75%; /* strangmanier ĝi ŝovas la butonon dekstren, sen tiu limigo! */
}

.sercho input:focus {
    outline: none;
}

/* cx */
.sercho button {
    flex: 0;
    border: none;
    box-shadow: none;
    border-left: 1px dotted var(--nav-brd-clr);
    border-radius: 0;
    margin: initial;
    height: auto;
}

.cx[value="0"] {
    background-color: gray;
}

#w\:revo_sercho {
    height: var(--button-size);
    width: var(--button-size);
    margin-right: 1em;
    border-radius: 50%;
    /*
    background: url(../smb/revo.svg) no-repeat;
    background-position: -.14em -.27em;
    background-size: 110%;
    */
    /*
    border: 2px solid darkslategray;
    background-color: lightgoldenrodyellow;
    box-shadow: 1px 1px .5em black;
    */
}

#x\:nav_srch_btn {
    border: 1px solid var(--btn-brd-clr);
}

#x\:nav_srch_btn:focus, 
#w\:revo_sercho:focus {
    outline: none;
}

.revo_icon {
    pointer-events: none;

    /*transform-origin: 50% 54.5%;*/
    transform-origin: 45.26% 43.01%; /* 50 - min(x)/2; 50 - min(y)/2 (?) */
    animation: spin 3.14s infinite;
    animation-play-state: paused;
    /*animation-delay: 2s;*/
    animation-timing-function: linear;
}

      
@media (prefers-color-scheme: dark) {
    .revo_icon .bg {
        fill: #d2691e !important;
    }
}

.revo_icon_run {
    animation-play-state: running;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(359deg);}
}

#x\:revo_icon {
    width: 43px;
    height: 43px;

    
    position: relative;
    left: -9.3px;
    top: -4.95px; 
      
}

#w\:revo_icon {
    width: 54px;
    height: 54px;

    position: relative;
    left: -9.3px;
    top: -4.95px;    
}


#w\:anaso_sercho {
    height: var(--button-size);
    width: var(--button-size);
    border-radius: 50%;
    border-width: 0px;
    background: url(../smb/duckduckgo.svg) no-repeat;
    background-size: 100%;
    /*
    background-position: 0.17em 0.16em;
    background-size: 88%;
    */
    /*
    border: 2px solid darkslategray;
    background-color: lightgoldenrodyellow;
    box-shadow: 1px 1px .5em black;
    */
}


#w\:ecosia_sercho {
    height: var(--button-size);
    width: var(--button-size);
    border-radius: 50%;
    border-width: 2px;
    background: rgba(0,0,0,.8) url(../smb/ecosia.svg) no-repeat;
    background-position: center;
    background-size: 150%;
    /*
    border: 2px solid darkslategray;
    background-color: lightgoldenrodyellow;
    box-shadow: 1px 1px .5em black;
    */
}

