@import "normalize.css";
@import "koloroj.css";
@import "piktogram-1c.css";
@import "formularo.css";
@import "artikolo-1c.css";
@import "redaktilo-1c.css";

/***************************************
   Ĉefa kadro
****************************************/

:root {
    /*--small-screen-limit: 60em;*/
    --nav-left-width: 24em; 
    --nav-enh-width: 22em; 
}

*, ::before, ::after { 
    box-sizing: border-box; 
}

html,body {
    margin: 0 !important;
    padding: 0 !important;

    /* problemo kun iOS Webkit:...
    height: 100vh !important;
    width: 100vw !important;
    */
    height: 100% !important;
    width: 100% !important;

    background-color: var(--main-bgr-clr); 
    color: var(--main-fnt-clr);
    font-family: sans-serif; 
    /*
    min-height: 100vh;
    max-height: 100vh;
    */
    /*
    height: 50vh;
    max-height: 50vh;
    width: 50vw;
    max-width: 50vw;
    */
}
body {
    overflow: hidden;
    /*overflow: visible;*/
    /*
    height: 50vh;
    max-height: 50vh;
    width: 80vw;
    max-width: 80vw;
    
    border: 1px solid red;
    */
    /* */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;

    /*font-size: 120%;*/
}
main {
    height: auto;
    overflow: auto;
    flex: 1;
    background-color: var(--main-bgr-clr);
}
nav {
    /*height: 2.5em;*/
    max-height: 100%;
    height: auto;
    width: 100%;
    /*align-self: stretch;*/

    flex: none; /* i.e. 0 0 auto */ 

    z-index: 100;
    background-color: var(--nav-bgr-clr);
    color: var(--nav-fnt-clr);
    box-shadow: 1px -2px 3px;

    /* dividu la spacon inter indekso kaj navig-trabo */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#navigado {
    /*display: block;*/
    flex: 1;
    width: 100%;
    margin: 0;
    padding: .1em .3em; 
    overflow: auto;
    scrollbar-color: var(--nav-brd-clr) var(--nav-bgr-clr);
    scrollbar-width: thin;

    /*width: 100%;*/ /* prenu tutan spacon de nav, kaj lasu al tiu
                difini la larĝecon! */
}

#navigado table {
    padding-bottom: 2em; /* en iOS Webkit foje la pied-linio ne estas atingebla aliokaze! */
}

#navigado table[id^="x:redakt"] {
    padding-bottom: .2em;
}

#navigado.eble_kasxita, 
#navigado table .eble_kasxita,
/*#r\:fs_toggle .eble_kasxita,*/
#r\:navigado .eble_kasxita {
    display: none;
}
#navbar {
    min-height: 2.2em;
    height: auto;
    flex: none; /* = 0 0 auto, t.e. nek kresku nek malkresku */

    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 200;

    margin: .1em 0;
}
#navbar>button {
    flex: none;
    margin: 0 .1em;
}

#navbar button.icon_btn {
    height: 1.7em;
    width: 1.7em;
    border-radius: 3px;

    background-color: var(--btn-bgr-clr);
    background-size: 1.2em;
    background-position: center;
    
    /*color: var(--btn-fnt-clr);
    padding: 0.3em 0.5em;*/
    
    border-width: 0;
    box-shadow: 1px 1px 3px black;
}

#navbar>div {
    margin-top: .1em;
}
/*
#navbar button {
    flex-grow: 0;
}
#navbar input {
    flex-shrink: 1;
    flex-grow: 1;
    max-width: 90%;
    min-width: 5em;
}
*/


/***************************************
   Navigado
****************************************/

/* https://www.w3schools.com/howto/howto_css_display_element_hover.asp 
...
    https://www.w3schools.com/howto/howto_js_popup.asp
    https://www.w3schools.com/howto/howto_js_collapsible.asp

.nav_btn {
    display: none;
    position: absolute;
    z-index: 200;
    font-size: 150%;
    padding: 0.1em;
    text-shadow: 1px 1px silver;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;    
    background-color: var(--nav-bgr-clr);
    border-bottom-right-radius: 0.2em;
}
*/

nav::-webkit-scrollbar-corner,
nav::-moz-scrollbar-corner { /* FF ne funkcias, sed uzas body-backround-color...? */
    background-color: var(--nav-bgr-clr);
}

nav a:focus {
    outline: 2px dotted var(--nav-act-bgr-clr) !important;
    background-color: inherit;
    box-shadow: none;
    /* border-bottom: 3px solid var(--nav-act-brd-clr);*/
}

nav a:hover {
    background-color: var(--nav-hov-bgr-clr);
    color: var(--nav-hov-fnt-clr) !important;
    background-image: none;
    color: var(--highlight-color);
}

nav a:active {
    background-color: var(--nav-act-bgr-clr);
    color: var(--nav-act-fnt-clr);
    background-image: none;
    border: 1px solid var(--nav-act-bgr-clr); /* ne montru randon: */
    box-shadow: none;
}

/*
.nav_btn:hover + ul {
    display: block;
    background-color: goldenrod;
}
*/

#navigado > table {
    width: 95%;
    margin-right: auto;
    /*table-layout: fixed;*/
}

/*
#navigado > table td:first-child {
    width: 7em;
}
#navigado > table td:nth-child(2) {
    width: 5.5em;
}
#navigado > table td:nth-child(3) {
    width: 5em;
}
#navigado > table td:last-child {
    width: 4.5em;
}
*/


#navigado h1 {
    font-style: italic;
    font-size: 120%;
    color: var(--nav-fnt-clr);
}

#navigado h2 {
    font-size: 100%;
    text-decoration: underline;
    color: var(--nav-fnt-clr);
}

#navigado .enhavo {
    max-width: var(--nav-enh-width);
    font-family: sans-serif;
    line-height: 150%;
    color: var(--nav-enh-fnt-clr);
}

#navigado .enhavo p {
    margin-bottom: 0;
}

#navigado .enhavo>p:first-of-type {
    margin-top: 0;
}

#navigado .enhavo p+p {
    margin-top: 0;
    margin-bottom: 0;
}

#navigado .icon_btn {
    /*
    float: left; 
    border: none;   
    */
    float: none;
    /*border-radius: 50%;*/
    border-width: 0;
    height: 2em;
    width: 2em;
    margin: 0;
    margin-right: .2em;
    vertical-align: top; /*middle;  */  
    background-size: 1.6em;
    /*background-position: 0.14em 0.05em;*/    
}

.enhavo>a>IMG.fak {
    vertical-align: initial;
}

#x\:_plena details[open]>summary {
    border-bottom: 2px solid var(--nav-fnt-clr);
}

#x\:ser\0109o, 
#x\:_plena h1:empty 
{
    display: none /* kaŝu serĉon */
}

#x\:_lng p>a, #x\:_plena .enhavo a {
    display: block;
    width: 100%
}

#x\:_lng br, #x\:_plena br {
    display: none;
}

.literoj a {
    display: initial !important;
}

#x\:_plena img+a {
    display: initial !important;
}

#x\:_plena img+a+br {
    display: initial;
}

#navigado .kls_nom {
    font-style: italic;
}


#navigado .kls_nom:hover {
    background-color: var(--nav-hov-bgr-clr);
    color: var(--nav-hov-fnt-clr) !important;
    background-image: none;
    color: var(--highlight-color);
    cursor: pointer;
}

#navigado .kls_nom:active {
    background-color: var(--nav-act-bgr-clr);
    color: var(--nav-act-fnt-clr);
    background-image: none;
    border: 1px solid var(--nav-act-bgr-clr); /* ne montru randon: */
    box-shadow: none;
}

/* uzante summary ni povos forigi tiujn sekvajn span.kls_nom* ... */
#navigado span.kls_nom:before {
    content: "▼";
    font-style: normal;
}
#navigado span.kls_nom.maletendita:before {
    content: "▶ ";
    font-size: 80%;
    position: relative;
    vertical-align: baseline;
    top: -0.2em;
    left: .2em;
    font-style: normal;
}
#navigado span.kls_nom.maletendita ~ ul {
    display: none;
}
#navigado span.kls_nom.maletendita:after {
    content: ""
}
#navigado span.kls_nom:after {
    content: ":"
}

#navigado details>ul {
    margin-block-start: .2em;
}
#navigado details li {
    display: list-item;
}

#navigado details details {
    margin-left: 1.2em;
}

#navigado>a {
    margin: 0.5em 0em;
    max-width: 95%
}

#navigado td>ul  {
    margin: 0.3em;    
    margin-right: 0;
    max-width: 95%;
}

#navigado>ul>li {
    margin-top: 1em !important;
}

      
@media (prefers-color-scheme: dark) {
    main IMG.fak {
        filter: invert(1) brightness(0.8) sepia(0.9);
    }
    #navigado IMG.ref {
        filter: brightness(8);
    }
}

IMG.ref {
    /* forŝovu flanken la originan bildon por
    montri anstataŭe la SVG-fonon, donitan per 
    .r_vid, .r_sin ktp. el piktogram.css */
    position: relative;
    overflow: hidden;
    width: 16px;
    height: 12px;
    padding: 16px 12px 0 0;
    margin-left: 6px;
    margin-right: 6px;
    box-sizing: border-box;
}

/**
#navigado img.fak {
    * ŝovu la origina bildon dekstren kaj
    per la klaso de la piktogramo la SVG-vinjeto aperu kiel fon-bildo*
    **display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 1.5em;
    padding-left: 1.5em; **
    background: none;
    filter: invert(1) brightness(0.85) sepia(1);
}
**/

/***
#navigado br {
    display: none;
}
***/

/*
#navigado table tr:first {
    position: absolut;
    top: 0;
}
*/
#navigado td.aktiva, #navigado td.fona {
    overflow: hidden;
    text-overflow: ellipsis;
}

#navigado td.aktiva a {
    width: initial;
    font-weight: bold;
    /* ŝanĝiĝanta larĝeco ĝenas! text-transform: uppercase;*/
    border-bottom: 3px solid var(--nav-act-brd-clr);
}

#navigado td.fona a {
    width: initial;
    font-weight: bold;
    border-bottom: none;

    /*margin-left: .2em;*/

    /*
    background-image: 
    linear-gradient(
        var(--nav-bgr-clr) 5%, 
        var(--nav-act-bgr-clr) 35%,
        var(--nav-act-bgr-clr) 70%, 
        var(--nav-bgr-clr) 95%);
        */

    text-shadow: 2px 2px 5px var(--nav-act-bgr-clr);
}

/*
nav li {
    list-style-type: none;
    padding-left: 2em;
    padding-right: 0.2em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    width: 100%;
    letter-spacing: .09rem;
    text-transform: uppercase;
}

*/

.literoj {
    line-height: 185%;
    font-size: 1.2rem !important; /* 120% estas tro granda */
    /*max-width: 29.5rem;*/
    width: 100%;
    /*font-family: monospace;*/
    display: inline-block;
    /*margin-top: .5em;*/
}

.literoj a {
    height: 2em;
    font-weight: bold;
    
    padding: 0.1em 0.2em !important; 
    margin: 0 !important;
    text-decoration: none;
    /*background-color: #cA9510;*/
    color: black;

    /*
    background-image: linear-gradient(
        var(--nav-bgr-clr) 40%, 
          var(--nav-act-bgr-clr) 35%,
        var(--nav-hov-bgr-clr) 45%, 
          var(--nav-act-bgr-clr) 70%, 
        var(--nav-bgr-clr) 70%);
        */
    text-shadow: 2px 2px 5px var(--nav-act-bgr-clr);
        
    /*background-image: radial-gradient(ellipse closest-side at 30% 50%, #eAb530 5%, goldenrod 55%);*/

    /*border-left: 3px dotted lightgoldenrodyellow;*/
    /*border-radius: 4px;*/
    /*border-left: 3px solid var(--button-border-color);*/
    /*border-top: 2px solid var(--button-border-color);*/
    /*box-shadow: 1px 1px 3px var(--button-border-color); */
}

.literoj a:hover {
    background-image: none;
    background-color: var(--nav-hov-bgr-clr);
    color: var(--nav-hov-fnt-clr) !important;
    /*background-color: var(--active-bg-color);*/
}

.literoj a:active {
    background-image: none;
    background-color: var(--nav-act-bgr-clr);
    color: var(--nav-act-fnt-clr) !important;
    /*background-color: var(--active-bg-color);*/
}

.literoj .elektita {
    border-bottom: 3px solid var(--nav-act-brd-clr);
}

/*
#navigado li, #navigado li>a, #navigado p>a {
    display: block;
    width: 100%
}
*/
#navigado li,
#navigado li>a {
    display: inline-block;
    width: 100%
}

/***
#navigado li, li>a, p>a {
    display: block;
    width: 100%
}
***/

/***
#navigado td>a {
    display: block;
    width: 100%
}
***/

/*
#nav_menu>a, li a, 
*/ 

#navigado p b {
    display: flex;
    flex-wrap: wrap;
    gap: .2em;
    
}

#navigado .menuo {
    display: none;
}

/*
#navigado .menuo a {
    display: inline-block;
    padding: 0 0.3em; 
    margin-top: 0.3em;
    text-decoration: none;
    letter-spacing: -.05em;
    color: var(--nav-fnt-clr);
}
*/

#navigado td a, #navigado li a {
    /*
    padding: 0.3em; 
    margin-top: 0.3em;*/
    text-decoration: none;
    color: var(--nav-fnt-clr);
    /*background-image: linear-gradient(0deg, goldenrod 15%, #eAb530 50%, goldenrod 85%);*/
}

/***************************************
   Serĉrezultoj
****************************************/

#x\:trovoj dt a {
    border-bottom: 1px solid var(--nav-brd-clr);
}

#x\:trovoj dd {
    border-left: 2px dotted var(--nav-brd-clr);
    margin-left: 5em;
    padding-left: .3em;
}

#x\:trovoj dd code {
    color: var(--nav-code-fnt-clr);
}


/***************************************
   Supermetitaj dialogoj
****************************************/

.overlay {
    position: absolute;
    z-index: 100;
    max-width: 96vw;
    max-height: 85vh;     
    overflow: auto;
    right: 0.5em;
    top: 2.5em;
    font-weight: normal;
    font-size: 1rem;
    background-color: var(--ovr-bgr-clr);

    padding: 0.5em;
    border: 2px dotted var(--ovr-brd-clr);
    box-shadow: 5px 5px 10px;
}

.overlay .fermu {
    position: absolute;
    top: .2em;
    right: .2em;
    height: 1.6em;
    padding: 0 .3em;
    background-color: var(--ovr-bgr-clr);
}


.overlay button {
    height: 2.2em;
    padding: 0 .5em;
}

#console {
    position:absolute;
    max-height: 30%;
    max-width: 50%;
    bottom: 5em;
    right: 5em;
    overflow: auto;
    background-color: gray;
}

#console:empty{
    display: none
}

/***************************************
   Precipa paĝo
****************************************/


header {
    flex: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 0.5em;
    margin-bottom: 3.5em;
    /*border: 1px dotted red;*/
}

header:empty {
    display: none;
    /*
    margin: 0;
    padding: 0;
    */
}

footer {
    flex: 0;
    text-align: center;
    padding-bottom: 1em; /* en iOS Webkit foje la pied-linio ne estas atingebla, 
                            ni provas tiel doni pli da spaco sub ĝi! */
    /*border: 1px dotted red;*/
    font-size: 8pt; /* t.e. 50% - pligrandigo por pli grandaj ekranoj malsupre... */
}

.piedlinio, span.redakto {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    color: var(--main-fnt-clr); 
    margin-block-start: 0;
    margin-block-end: 0;
}

.piedlinio a, span.redakto a {
    flex: 0 1 auto;
    padding: 0 .2em;
    /*text-overflow: ellipsis;*/
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}


.titolfono {
    position: absolute; /* do w, h, pos rilatas al root/html, ĉar
            aliaj elementoj kiel body kaj main ne havas position:... */
    width: 100%;
    height: 100%;
    z-index: 0;

    background:url('/revo/dlg/titolo.jpg') no-repeat; 
    background-size: cover; /* 100% 100% ŝanĝus la proporciojn, krutigante la monton... */
    background-position: right bottom;
}

/*
.titolmalfono::before {
    position: absolute;
    content: '';
    z-index: 1;
    width: 800px;
    height: 150px;
    background-image: url('/revo/dlg/titolo.jpg') no-repeat;
}
*/

.titolmalfono {
    position: relative;
    height: 100%;
    margin-top: 0;
    /*
    width: 70%;
    margin-left: 2em;
    margin-right: 2em;
    */
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    z-index: 50;

    font-family: sans-serif;
}

.titolmalfono>* {
    background: rgba(190, 200, 200, 60%);
    background-size: cover;
    /*width: 100%;*/
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    
    max-width: 100vw;

    padding: 2em;
    padding-top: 0;
    box-shadow: 0 .3em .5em rgba(10, 0, 0);
}

.titolmalfono footer {
    padding: .5em;
}

.titolpagho details {
    margin-top: .7em;
}

.titolpagho details[open]>summary {
    border-bottom: 2px solid var(--main-fnt-clr);
}

.titolpagho summary {
    font-weight: bold;
}

.titolpagho summary:focus {
    outline-style: dotted;
    outline-width: thin;
}

.titolpagho details p {
    margin-left: 2em;
    max-width: 30em;
    border-left: 2px dotted var(--main-fnt-clr);
    padding-left: .7em;
}




@media (prefers-color-scheme: dark) {
    .titolfono {
        filter: sepia(20%) hue-rotate(-40deg);
    }

    .titolmalfono>* {
        background: rgba(10, 0, 0, 40%);
        box-shadow: none;
/*        box-shadow: 0 0 1em rgba(210, 200, 200);*/
    }
}

/* => 
  pliaj detaloj de la titolpaĝo (serĉ-formularo) vd. formularo.css 
  */

/***********************************
 Eraropaĝo
***********************************/

@keyframes error-color-change-vid {
    0% {color: inherit}
    60% {color: transparent}
}
@keyframes error-color-change-vic {
    30% {color: transparent}
    50% {color: inherit}
    90% {color: transparent}
}
@keyframes error-color-change-404 {
    60% {color: transparent}
    100% {color: inherit}
}

div.e404 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: .5em;
} 
.e404 div {
  font-size: large;
  text-align: center;
  margin: 0 1em;
} 
.e404 img {
  width: 300px;
  height: 300px;

  border-color: var(--bld-brd-clr); 
  border-width: 1px; 
  background: var(--bld-bgr-clr); 
  border-style: solid; 
  padding: 2px; 
  margin: 0.5em
}
.http_code {
  font-size: x-large;
  margin: .3em;
}
.http_code span:first-child {
  color: transparent;
  position: relative;
  left: 2.9em;
  animation: error-color-change-vid 30s 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.http_code span:nth-child(2) {
  color: transparent;
  position: relative;
  left: .5em;
  animation: error-color-change-vic 30s 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.http_code span:nth-child(3) {
  color: transparent;
  position: relative;
  left: -2.2em;
  animation: error-color-change-404 30s 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}


/***********************************
 Pli grandaj aŭ malgrandaj ekranoj
 ***********************************/

@media (min-height: 30em) and (min-width: 30em) {
    .titolmalfono {
        padding-top: 2em;
    }
    #r\:navigado .eble_kasxita,
    #navigado table .eble_kasxita
/*  #r\:fs_toggle .eble_kasxita */
    {
        display: initial;
    }
}
@media (min-width: 30em) {
    footer {
        font-size: small;
    }
    .titolmalfono>* {
        width: 90%;
    }    
}

@media (min-width: 50em) {
    body {
        flex-direction: row;
    }
    nav {
        width: var(--nav-left-width);
    }
    #navigado.eble_kasxita {
       display: block;
    }
    #x\:nav_inx_btn,
    #x\:nav_montru_btn,
    #x\:nav_kashu_btn {
        display: none;
    }
    #navigado > table {
        width: var(--nav-enh-width); /*100%;*/
        margin-right: auto;
    }    

    .overlay {
        right: 5vw;
        bottom: 5vh;     
        top: auto;
    }

    main DD {
        text-align: justify; 
    } 

    div.e404 {
        padding-top: 2em;
    }
}

@media (max-width: 30em) {
    .overlay {
        max-height: 92vh;     
    }
}



