/* 
    La nomoj sekvas la skemon:
    --<element-tipo>-<parto>-<atributo>

    Por :active, :hover ni aldonas infikson al la atributo, 
    ekz. --nav-hov-bgr-clr, --btn-act-fnt-clr
    Ni provas uzi centrajn main-act-*, main-hov-* kaj nur
    esceptokaze difini por apartaj elementoj...

    Ni ne distingas :focus de :active, sed por ambaŭ uzas -act-,
    same ni uzas por :visited la ordinaran koloron.

*/

:root {

    /* por navigado */
    --nav-fnt-clr: black;
    --nav-enh-fnt-clr: #021; /* teksto en la indekso, kiun oni ne povas alklaki */
    --nav-code-fnt-clr: #333; 

    --nav-bgr-clr: #eAb530  /* #FAC540  #eAb530 goldenrod */;
    --nav-brd-clr: black;
    --nav-hov-bgr-clr: lightgoldenrodyellow;
    --nav-hov-fnt-clr: salmon;
    --nav-act-bgr-clr: lightgoldenrodyellow;
    --nav-act-brd-clr: black;
    --nav-act-fnt-clr: salmon;

    /* por la ĉefa paĝo (main) */
    --main-bgr-clr: lightgoldenrodyellow;
    --main-brd-clr: goldenrod;
    --main-fnt-clr: black;
    --main-act-bgr-clr: #eAb530;
    --main-act-fnt-clr: black;
    --main-hov-fnt-clr: coral;
    --main-shd-clr: gray;

    /* redaktilo */
    --pos-bgr-clr: gray;

    --ovr-bgr-clr: #F5F5D5;
    --ovr-brd-clr: green;

    --a-fnt-clr: darkblue;
 
    /* h2-titolo (?) */
    --mh2-bgr-clr: #eAb530; /*goldenrod; */
    --mh2-act-fnt-clr: black; 

    --btn-bgr-clr: #eAb530; /*goldenrod; */
    --btn-brd-clr: darkgoldenrod;

    --btn-hov-bgr-clr: khaki;
    --btn-hov-brd-clr: black;
    --btn-hov-fnt-clr: black; 

    --btn-act-bgr-clr: #FAC540 /*khaki*/;
    --btn-act-brd-clr: black;
    --btn-dis-bgr-clr: #999;

    --tab-bgr-clr: khaki;

    /* input-elementoj */
    --input-bgr-clr: white;
    --input-brd-clr: gray;
    --input-fnt-clr: black;

    --list-bgr-clr: #eAb530; /*#FFEEAA;*/
    --list-fnt-clr: black;
    --list-act-bgr-clr: khaki; /*#E8C888;*/

    --lst2-bgr-clr: khaki;
    --lst2-fnt-clr: #222;
    --lst2-act-bgr-clr: lightgoldenrodyellow;

    --ekz-fnt-clr: #303030;
    --ekz-hov-fnt-clr: coral;
    --ekz-act-fnt-clr: silver;

    --fnt-fnt-clr: #303030;

    --rim-fnt-clr: midnightblue;
    --rim-hov-fnt-clr: var(--a-hov-fnt-clr);
    --rim-act-fnt-clr: var(--a-fnt-clr);

    --ref-fnt-clr: #600000;

    --icn-fnt-clr: black; 
    --icn-act-fnt-clr: brown;
    --icn-hov-fnt-clr: coral;

    --icn-hov-bgr-clr:  lightgoldenrodyellow; 
    --icn-act-bgr-clr:  lightgoldenrodyellow; 

    --adm-fnt-clr: #303030;
    --label-fnt-clr: #104040;

    /* vinjetoj kaj bildoj */
    --vnj-bgr-clr: lightgoldenrodyellow;

    --svg-bgr-clr: lightgoldenrodyellow; /* #ffffee; */
    --svg-brd-clr: #cccccc;

    --bld-bgr-clr: lightgoldenrodyellow;
    --bld-brd-clr: #cccccc;
}


@media (prefers-color-scheme: dark) {
    /* CSS por malhela aspekto */ 
    :root {

    /* por navigado */
    --nav-fnt-clr: black;
    --nav-enh-fnt-clr: #021; /*bisque; /* teksto en la indekso, kiun oni ne povas alklaki */

    --nav-bgr-clr: darkorange; /* #c2590E /* #B8860B #FAC540  #eAb530 goldenrod */;
    --nav-brd-clr: ivory;
    --nav-hov-bgr-clr: palegoldenrod;
    --nav-hov-fnt-clr: black;
    --nav-act-bgr-clr: burlywood;
    --nav-act-brd-clr: ivory;

    /* por la ĉefa paĝo (main) */
    --main-fnt-clr: lightyellow;
    --main-bgr-clr: #0f0800;
    --main-brd-clr: orange;

    --main-act-bgr-clr: #c2590E;
    --main-act-fnt-clr: palegoldenrod;
    --main-hov-fnt-clr: #EE6F40;
    --main-shd-clr: palegoldenrod;

    --ovr-bgr-clr: #0f0800;
    --ovr-brd-clr: palegoldenrod;

    --a-fnt-clr: skyblue;

    --mh2-bgr-clr: #c2590E; 
    --mh2-act-fnt-clr: rgb(48, 46, 30);
 
    --btn-bgr-clr: #c2590E; 
    --btn-brd-clr: chocolate;

    --btn-hov-bgr-clr: khaki;
    --btn-hov-brd-clr: black;
    --btn-hov-fnt-clr: coral; 

    --btn-act-bgr-clr: #FAC540 /*khaki*/;
    --btn-act-fnt-clr: black; 
    --btn-act-brd-clr: black;
 
    --tab-bgr-clr: orange; 

    --input-bgr-clr: #070721; /*#00082f; #2f0800; #52090E; #82190E; #a2390E;*/
    --input-brd-clr: cornflowerblue;
    --input-fnt-clr: palegoldenrod;

    --list-bgr-clr: chocolate; /*#894415; darkgoldenrod;*/
    --list-fnt-clr: ivory;
    --list-act-bgr-clr: orange; /*#E8C888;*/

    --lst2-bgr-clr: khaki;
    --lst2-fnt-clr: #222;
    --lst2-act-bgr-clr: lightgoldenrodyellow;

    --ekz-fnt-clr: orange;
    --ekz-act-fnt-clr: darkgoldenrod;

    --fnt-fnt-clr: orange;
    --klr-fnt-clr: #775533;
    --rim-fnt-clr: skyblue;
    --ref-fnt-clr: chocolate;

    --icn-fnt-clr: lightyellow; 

    --adm-fnt-clr: orange;
    --label-fnt-clr: orange;

    /* vinjetoj kaj bildoj */
    --vnj-bgr-clr: #996600;

    --svg-bgr-clr: #ffffee; 
    --svg-brd-clr: #cccccc;
    }
}
