.i_kash_ch {
    background: 
      url('../smb/i_kash_ch.png')
      no-repeat;	
    background-size: contain;
}
.i_kash {
    background: 
    url('../smb/i_kash.png')
    no-repeat;	
    background-size: contain;
}
.i_mkash_ch {
    background: 
    url('../smb/i_mkash_ch.png')
    no-repeat;	
    background-size: contain;
}
.i_mkash {
    background: 
    url('../smb/i_mkash.png')
    no-repeat;	
    background-size: contain;
}
