
#r\:redaktilo {
    display: flex;
    flex-direction: column;
    height: 105%; /* piedlinio rajtas ŝoviĝi malsupren */
    /*overflow: auto; */
}

#r\:navigado h1 {
    /*font-family: monospace;*/
    /*border-radius: 3px;
    border: 1px solid black;*/
    /*max-width: 4em;*/
    flex: 1;
    overflow: hidden;
    border: none;
    padding: 0.3em 0em;
    font-size: 1em;
    background: linear-gradient(-140deg, var(--main-bgr-clr), var(--main-act-bgr-clr));
}

/*
#r\:art_titolo {
    color: inherit;
    text-decoration: none;
}
*/

#r\:art_stru_div {
    flex-basis: 60%;
    flex-grow: 1;
    flex-shrink: 1;
}

#r\:art_strukturo {
    width: 100%;
    /* en Safari mobila la listeroj aperas
    centrigite, kio fuŝas la hierakian aperigon,
    ĉu (iuj el) la sekvaj eble korektos la problemon(?) - mi ne trovis solvoproponon en la reto 
    krom tiu indiketo: https://newbedev.com/text-align-is-not-working-on-safari-select 
    kaj tie oni uzas direction-manipuladon: https://www.py4u.net/discuss/978439 */
    text-align-last: left;
    text-align: -webkit-left;
    text-align: left !important; 
    /*Üalign-items: start !important;*/
    direction: ltr;
}

#r\:tabulo {
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto; /* ŝajne grava */
    /*max-height: 0%; */

    margin: 0;
    /*margin-bottom: .3em;*/
    padding: 0; /*0.5em;*/

    border: 2px dotted var(--main-brd-clr);
}

#r\:navigado {    
    flex-shrink: 0;
    flex-grow: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    /*align-items: flex-end;*/
    align-items: stretch;

    margin: 0;
}

#r\:navigado>* {
    margin: 0;
    /*dbg:  border: 1px solid red; */
}

#r\:navigado .filler {
    width: 1em;
    flex: 2 2;
}

#r\:tabs {
    flex: 2 1 7em;
}

#r\:nav_btn {
    flex: 0 1;
    display: flex;
    align-items: center;
}

#r\:nav_btn button {
    letter-spacing: -.16em;
    flex: 0 1 2.4em;
    width: 2.4em;
}

/*
#r\:nav_btn>* {
    dbg  border: 1px solid green;
}*/

#r\:tab_txmltxt {
    height: 100%;
    min-height: 10em;
    display: flex;    
    flex-direction: column;
}

#r\:tab_trigardo {
   /*height: 100%; */
   margin: 0.2em;
   padding: 0.3em;
   /*border: 2px dotted var(--main-brd-clr);*/
}

#r\:redaktilo summary {
    cursor: pointer;
    color: var(--a-fnt-clr);
    margin-bottom: .3em;
    /*text-decoration: underline;*/
    border-top: 1px dotted var(--main-brd-clr);
}

.xmlarea {
    flex: 1; /* consume available width */  
    position: relative;   
}

.xmlarea .position {
    position: absolute;
    background-color: var(--pos-bgr-clr);
    border-radius: 3px;
    padding: .2em;
    top: 0.2em;
    right: 1em;
    opacity: .8;
}

.butonoj {
    flex: 0;
    text-align: center;
    margin: 1px;
}

.rimarkoj ul {
    margin-block-start: .2em;
    margin-left: 0.1em;
    padding-left: .9em;
}
.rimarkoj a {
    text-decoration: underline !important;
    /*text-decoration-style: dotted !important;*/
}

#r\:priskribo {
    display: grid;
    grid-template-columns: auto 4fr;
}
#r\:priskribo input{
    width: 20em;
    max-width: 70%;
}
#r\:priskribo br {
    display: none
}


#r\:eraroj {
    margin: 0.25em;
    padding: 0.3em;
    min-height: 2em;
    max-width: var(--nav-enh-width);
    /*max-height: 8em;
    overflow: auto;*/
    border: 2px solid orangered;
}

#r\:eraroj.konfirmo {
    border: 2px solid seagreen;
}

.collapsed {
    display: none !important;
    /*position: absolute;
    top: -1000em;
    left: -1000em;*/
}


span.right {
    float: right;
}


.rhelpo a {
    font-weight: bold;
    color: black;
}


.averto {
    margin-top: 0;
    border: 2px solid palegoldenrod;
    /*font-style: italic; */
    padding: 0.5em 2em;
    /*width: 66%; */
}

.help_btn {
    width: 2em;
    height: 2em;
    font-weight: bold;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: 1px 1px 2px;
}

.rubriko {
    text-align: right;
}

/****************v duobla en redaktilo-revaj.css v**********/

.butonoj .klv {
    display: inline-block; /* inline-block aldonas spaceton inter la linioj */
    /* float: left; */
    vertical-align: inherit;
    height: 2em;
    max-height: 2em;
    min-width: 1.6em;
    overflow: hidden;
    border: 1px solid #e3a345;
    color: var(--nav-fnt-clr); /* pli bone estus difini apartan var...*/
    border-radius: 4px;
    padding: 0.1em;
    margin: 0 0.1em 0 0.1em;
    padding-top: 0.5em;
    line-height: 1em;
    text-align: center;
    /*
    background-color: #e5e3c5;  
    */
    background-color: khaki;
}

.butonoj .klv:hover {
    background-color: #f5f3e5; 
    cursor: pointer
}

.butonoj .klv:active {
   background-color: #c5c3b5; 
   color: white;  
   cursor: pointer
}

#elekto_indikoj, r {
    max-height: 27ex;
    min-height: 3.6em;
    overflow: auto; 
    margin: 1px;
    padding: 0px;
}

#elekto_indikoj .klv {
    /*display: inline-block;*/ /*float; //inline-block; inline-block aldonas spaceton inter la linioj */
    float: left;
    height: 3em;
    max-height: 3em;
    width: 4em;
    overflow: hidden;
    border: 1px solid #e3a345;
    color: var(--nav-fnt-clr); /* pli bone estus difini apartan var...*/
    border-radius: 4px;
    padding: 0.1em;
    margin: 0;
    font-size: small;
    line-height: 1em;
    text-align: center;
}

#elekto_indikoj .stl {
  font-stretch: condensed;
  background-color: burlywood; /*#e5e3c5;  */
}

#elekto_indikoj .fak {
  background-color: khaki; /*#d5e3d5;  */
}

#elekto_indikoj .ofc {
  background-color: blanchedalmond; /*#d5d3e5*/;  
}

#elekto_indikoj .gra {
  background-color: beige; /*#e5d3e5;  */
}


#elekto_indikoj .klv:hover {
   background-color: #f5f3e5; 
   cursor: pointer
}

#elekto_indikoj .klv:active {
   background-color: #c5c3b5; 
   color: white;  
   cursor: pointer
}

#elekto_indikoj .klv span {
    line-height: 1.5em
}


#elekto_indikoj img {
    height: 1.7em;
    max-height: 1.7em;
    overflow: hidden;
}

/**************** ^^ duobla en redaktilo-revaj.css ^^^**********/



@media (min-width: 50em) {
    #r\:redaktilo {
        height: 100%; 
    }
}