@import 'koloroj.css';

@font-face {
    font-family: 'power_symbols';
    src: url('Unicode_IEC_symbol.woff2') format('woff2'),
         url('Unicode_IEC_symbol.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%
}

body {
    /* la artikolo.css de la antaurigardo shanghus la atributojn tial uzi !important */
    padding: 0 !important;
    margin: 0 !important;
    height: 100% !important;
    overflow: hidden !important;

    font-family: segoe ui,Arial,sans-serif;
    font-size: 1.1em;
    
    display: flex;
}

.ui-dialog {
    max-height: 95% !important;
    overflow: auto !important;
}

.ui-dialog.faldita {
    margin-top: 1.8em;
    margin-right: 7em;
    background: rgba(100,100,100,40%);
    /*background-color: rgba()*/
    /*filter: alpha(opacity=60);*/
}

.flex-form {
    display: flex;
    flex-wrap: wrap;
    gap: .5em 1.5em;
    max-width: 50em;
    justify-content: flex-start;
}

.flex-form>* {
    display: inline-block;
    flex: 0;
}

.flex-div {
    display: flex;
    flex-wrap: nowrap;
}

.ui-tooltip {
    max-width: 30em;
}

.ui-state-error {
    border: 1px solid var(--err-brd-clr);
    background-color: var(--err-bgr-clr);
    color: var(--err-fnt-clr);
}

@media only screen and (max-width: 768px) {
    .ui-menu-item {
        font-size: 120%;
    }
    .ui-dialog {
        max-width: 95% !important;
        max-height: 95% !important;
        overflow: auto !important;
    }
    /*
    #positions {
        font-size: 100% !important;
        overflow-x: visible
    } */
    #xml_text {
        font-size: 110%
    }
}

/* la reguloj por IMG estas duobligitaj el kadro.css
  ĉu meti ilin en pli centra loko, ekze. artikoloj?
  Sed en reta-vortaro.de ili estas uzataj ankaŭ en la naviga kadro! 
  Eble ni do bezonas iun aldonan centran CSS-dosieron...
  */
@media only screen and (max-width: 450px) {
    #xml_sidebar {
        width: 30% !important;        
    }
    .ui-dialog {
        max-width: 95% !important;
        max-height: 95% !important;
        overflow: auto !important;
    }    
    .ui-menu-item {
        font-size: 100% !important;
    }
    /*
    #positions {
        font-size: 90% !important;
        overflow-x: visible
    }
    */
    #xml_text {
        font-size: 110%
    }
}

@media (prefers-color-scheme: dark) {
    IMG.fak {
        filter: invert(1) brightness(0.8) sepia(0.9);
    }

    /*
    #navigado IMG.ref {
        filter: brightness(8);
    }
    */
}

IMG.ref {
    /* forŝovu flanken la originan bildon por
    montri anstataŭe la SVG-fonon, donitan per 
    .r_vid, .r_sin ktp. el piktogram.css */
    position: relative;
    overflow: hidden;
    width: 16px;
    height: 12px;
    padding: 16px 12px 0 0;
    margin-left: 6px;
    margin-right: 6px;
    box-sizing: border-box;
}

@keyframes dock-font-color-change {
    0% {color: #7f2f2f;}
    50% {color: #f7cf94;}
    0% {color: #7f2f2f;}
}

.ui-widget,
.ui-widget-content {
    background-color: var(--main-bgr-clr);
    color: var(--main-fnt-clr);
    border-color: var(--main-brd-clr);
}

.ui-widget.ui-widget-content {
    /*border: none !important;*/
    border-color: var(--main-brd-clr) !important;
}

.ui-widget-header {
    background-color: var(--list-bgr-clr) !important;
    padding: .1em;
    border: none;
}

#sercho_form .ui-button:hover {
    border: 1px hidden !important;
}

#sercho_malplenigo {
    display: inline;
}

#sercho_malplenigo div {
    display: inline-block;
}

#kash_btn {
    /* ni ŝovu pli maldekstren, ĉar dekstre jam
    estas la ŝaltstrio...!*/
    right: 3.75em !important; 
}

#tez_btn {
    /* tezaŭro ne funkcius en alia retpaĝo ol reta-vortaro.de...!
    aŭ ni devus provizi tie saman CGI-skripton */
    display: none;
}


input[type='text'],
input[type='search'],
select {
    background-color: var(--input-bgr-clr) !important;
    color: var(--input-fnt-clr) !important;
    border: 2px solid var(--input-brd-clr);
}

.lbl_radio, .lbl_checkbox {
    background-color: var(--btn-bgr-clr);
    color: var(--main-fnt-clr);
    margin: .1em;
    padding: .2em;
    border-radius: 3px;    
}


textarea {
    resize: none;
    overflow: auto;
    width: auto !important;
    height: auto !important;
    font-size: 12pt !important;
    background-color: var(--input-bgr-clr);
    color: var(--input-fnt-clr);
    border: 2px solid var(--input-brd-clr);
}

.ui-dialog input {
    /* ni havas limigon en retavortaro.de, kiun ni forigas tie ĉi */
    max-width: none;
}

.ui-dialog input:focus,
.ui-dialog textarea:focus {
    outline: 2px solid;
    outline-color: var(--input-brd-clr);
}

#xml input:focus,
#xml textarea:focus {
    outline: 1px dotted;
    outline-color: (--main-act-brd-clr);
}


.ui-button,
input[type='button'],
#tabs button {
    background-color: var(--btn-bgr-clr);
    color: var(--main-fnt-clr);
    border-color: var(--btn-brd-clr);
    border-style: solid;
}

.ui-button:focus,
input[type='button']:focus,
#tabs button:focus {
    background-color: var(--btn-act-bgr-clr);
}

input[type='radio'],
input[type='checkbox'] {
    accent-color: var(--input-brd-clr);
}


.ui-button-icon,
.ui-button-icon-only {
    background-color: var(--ibt-bgr-clr) !important;
}

#sercho_trovoj button {
    border-width: 1px;
    border-radius: 3px;
    margin-right: .1em;
}

#sercho_trovoj img {
    background-color: var(--wmb-bgr-clr);
}


.surxml {
    position: absolute;
    right: 3.7em;
    opacity: .8;
    background-color: silver;
    margin: 0;
    padding: 0;
}
#position {
    top: 2.7em;
    margin: .1em;
    padding: .18em;
    border-radius: 4px;
}
.kklvbtn {
    /*
    background-color: silver;
    border-radius: 4px;
    padding: .18em;
    margin: 2px;
    */
    border: 1px solid var(--btn-brd-clr);

    margin: 1px 0px 2px 0px;
    padding: .18em;
    color: black !important;
    font-weight: normal !important;
    /*box-shadow: none !important;*/

    box-sizing: border-box;   
    height: 96%;
}
.kklvbtn[value='1'] {
    background-color: var(--btn-act-bgr-clr) !important;
}
.kklvbtn[value='0'] {
    background-color: var(--btn-dis-bgr-clr) !important;
}

fieldset {
    border: 1px solid var(--main-brd-clr); /*#327e04;*/
    border-radius: 3px;
}

fieldset legend {
    color: inherit;
    background-color: inherit;
}

#regexes {
    display: inline-block;
    margin-top: 2px;
    margin-bottom: .5em;
}

#regexes fieldset {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

#sercho_trovoj dd {
    margin-top: 0.1em;
    margin-bottom: 0.2em;
    padding: 0.5em;
}

#sercho_trovoj dt {
   padding: 0.5em; 
}

#sercho_trovoj dt:hover,
#sercho_trovoj dt.aktiva
{
   background-color: var(--main-ac2-bgr-clr); /*#e5e3d5;  */
   color: var(--main-act-fnt-clr);
   /*border: 1px solid black;*/
}

#sercho_trovoj dt:hover button,
#sercho_trovoj dt.aktiva button,
#sercho_trovoj li:hover button,
#sercho_trovoj li.aktiva button,
#sercho_trovoj .bildstriero:hover button,
#sercho_trovoj .bildstriero.aktiva button
{
   visibility: visible !important;  
}

#sercho_error {
   margin: 0 !important;
}

#xml_sidebar {
    /*display: inline-block;*/
    /*float: left;*/
    vertical-align: top;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    position: relative;
    top: 0;
    height: 100%;
    flex: 0.1 0.1 5em;
    -webkit-flex: 0.1 0.1 4em;
    min-width: 4em;
    width: 15%;
    /*border: 0px solid red*/

    border: none !important;
    box-shadow: 0 0 4px black;
    z-index: 100;
}

dialog {
    width: min-content;
    color: var(--main-fnt-clr) !important;
    background-color: var(--ovr-bgr-clr);
    border: 2px dotted var(--ovr-brd-clr);
    box-shadow: 5px 5px 10px var(--ovr-shd-clr);
    z-index: 200;
    margin-top: 4em;
    padding: .1em;
}

#sxablono_dlg {
    z-index: 180;
}

dialog form {
    padding: .3em;
}

dialog label {
    font-size: 90%;
}

dialog h2 {
    font-size: 105%;
    background-color: var(--mh2-bgr-clr);
    /*border-bottom: 1px solid var(--nav-brd-clr);*/
    border-radius: 0.1em;
    display: flex;
    justify-content: space-between;
    margin: 0.1em;
    padding: .3em;
}

dialog h2 button {
    padding: 0.1em;
    font-size: 75%;
}

dialog .butonujo {
    display: flex;
    border-top: 1px solid var(--main-brd-clr);
    padding: .5em;
    justify-content: flex-end;
    gap: .5em;
}

dialog .butonujo button {
    white-space: nowrap;
}

#tabs {
    display: flex; 
    flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;

    /* samsupre kiel la menuo */
    vertical-align: top;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    flex: 1;
    -webkit-flex: 1;
    /*border: 1px solid blue;*/
    border: none !important;
}

#tab-buttons {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid gray;
    border-left: none;
    margin-left: -1px;
    margin-right: 5px;
    /*box-shadow: 2px 1px 2px rgba(0,0,0,.4);*/
    box-shadow: 1px 2px 5px black;
}


.ui-tabs-nav li {
    list-style-type: none;
    background-color: var(--tab-bgr-clr) !important;
    box-shadow: inset 0 1px 2px;
}

/* kreas spacon inter langetoj */
.ui-tabs-nav li:empty {
    visibility: hidden;
    height: 0.3em;
    width: 0.3em;
}

.ui-tabs-nav a {
    text-decoration: none;
    color: var(--nav-fnt-clr);
}

.ui-tabs-nav li.ui-tabs-active,
.ui-tabs-nav li.ui-state-active a {
    background-color: var(--tab-act-bgr-clr) !important;
    color: black;
    box-shadow: 0 1px 2px rgba(0,0,0,.4);;
}


.ui-tabs-vertical {
    width: 3em; 
}
.ui-tabs-vertical .ui-tabs-nav { 
    padding: 0.2em;
    padding-left: 0; 
    width: 2em; 
}
.ui-tabs-vertical .ui-tabs-nav li { 
    width: 100%; 
    border-bottom-width: 1px !important; 
    border-left-width: 0 !important; 
    margin: .1em .1em .1em 0;

}
.ui-tabs-vertical .ui-tabs-nav li a { 
    padding: .5em .25em !important;
    width: 100%;
    display:block; 
    box-sizing: border-box;   
}
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { 
    padding-bottom: 0; 
    padding-left: .1em; 
    border-left-width: 1px; 
}


/*
.ui-tabs-vertical .ui-tabs-panel { 
    padding: 1em; 
    width: 40em;
}
*/

#menu_show_btn {
    width: 2.5em;
    padding: .4em !important;
    z-index: 100; /* kovru la ombron de la menuo! */
    /*box-shadow: 0 0 4px black;*/

    margin: 0px 1px 1px 0px;
    border-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px dotted var(--nav-brd-clr);
}

#right_side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--nav-bgr-clr);
    box-shadow: inset 0 0 2px rgba(0,0,0,.4);
}

#right_side>* {
    margin-bottom: 80%; /* tiom da suba spaco kiel larĝo */
}

.side_btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#help_btn,
#logout_btn {
    width: 2em; 
    padding: .3em .1em;
    margin-bottom: .2em;    
}

.logout_btn {
    font-family: 'power_symbols';
    font-style: normal;
    /*
    border-color: #327E04 !important;
    background-color: #459e00 !important;
    border-radius: 4px;
    color: white !important;    
    font-weight: bold !important;
    padding-left: 0.7em;
    padding-right: 0.7em;
    */
 }
  

#help_btn a {
    text-decoration: none;
}

nav {
    height: 100%;
    background-image: url(kaefer1.jpg);
    background-repeat: repeat;
    background-position: bottom
}

#menu {
   height: fit-content; /* 100%; */
   border: none !important;

   opacity: 0.94;
   /*padding: 0;*/
   margin: 0;
   box-shadow: 1px 2px 5px;
}

#menu li, #traduko_menuo li {
  box-sizing: border-box;
  /*width: 100%;*/
  border-radius: 0 !important;
  /*border-color: var(--nav-brd-clr);*/
  border: none;
}

#traduko_menuo li span {
    display: inline-block;
    width: 80%;
}

.ui-menu {
    color: var(--nav-fnt-clr);
    background-color: var(--nav-bgr-clr);
    cursor: default;
}

.ui-widget-header {
    margin-left: -18px;
}

ul.ui-menu {
    padding-inline-start: 20px;
}

.ui-menu li {
    list-style-type: circle;
    padding: 0.1em;
    padding-left: 0.3em;
}

.ui-menu-item {
    color: var(--nav-fnt-clr);
    background-color: var(--nav-bgr-clr);  
    border-bottom: 1px solid silver;
    font-size: 85%;
    cursor: default;
}

.ui-menu-item u {
    border: inherit;
    font-size: inherit;
}

.ui-menu-item:hover,
.ui-menu-item:active {
    background-color: var(--nav-act-bgr-clr);
}

/* submenuoj */
.ui-menu .ui-menu {
    position: absolute;
    /*padding: 0.1em;*/
    border: 1px solid var(--nav-brd-clr);
}

.ui-menu-sub-fermita::after {
    content: "\00a0\2bc8";
}

.ui-state-error {
    max-height: 10em;
    overflow: auto
}

#elekto_menuo {
    position: absolute;
    top: 4em;
    right: 2em;
}

#dock {
    /*max-height: 40%;
    overflow: auto;*/
    position: relative;
    justify-content: stretch;
    -webkit-justify-content: stretch;

    background-image: linear-gradient(rgba(0,0,0,0%),rgba(0,0,0,10%));    
}

#dock_eraroj:empty,
#dock_avertoj:empty {
    display: none;
}

.status_ok,
.status_ok a:link,
.status_ok a:visited {
    color: black; /*#312e25;*/
}

#dock_fermu {
    position: absolute;
    right: 0;
    top: 0;
    width: 1.2em !important;
    height: 1em !important;
    padding: 0 !important;
}

#re_antaurigardo {
   height: 1.6em !important;
   width: 1.6em !important;
   font-size: 1.2em;
   color: #004400;
   margin-top: 0.1em !important;
   padding: 0 !important;
}

#dock_klavaro {
    overflow: visible;
}
#dock_kontrolo {
  max-height: 20ex;
  overflow: auto
}

#dock_eraroj {
    border-bottom: 1px solid #7f2f2f;
    margin: 0;
    background: #ffedad;
    color: #7f2f2f;
    padding-left: 0em;
    margin-block-start: 0em;
}

#dock_avertoj {
    border-bottom: 1px solid #7f2f2f;
    margin: 0;
    background: khaki;
    color: #7f2f2f;
    padding-left: 0em;
    margin-block-start: 0em;
}

/*#kontroli_eraroj ul, #kontroli_vortoj ul {
    margin: 0;
    padding-left: 0.4em;
}*/

#dock_eraroj li, #dock_avertoj li {
    list-style-type: none;
    font-size: 80%;
    margin-left: 0.4em;
    padding: .1em;
    border-top: 1px solid #e3a345;
}

#dock_eraroj li:hover, #dock_avertoj li:hover {
    background-color: #e5e3d5; 
}

#dock_eraroj li:active, #dock_avertoj li:active {
    background-color: #c5c3b5; 
    color: white;
}

#dock_eraroj li::before, #dock_avertoj li::before {
    content: attr(value) ": ";
    font-weight: bold
}

#dock_avertoj .snc_mrk a:hover {
    /* border-style: outset; */
    border: 2px solid #327e04;
    border-radius: 5px;
    background: #edf8dc;
}

#dock_avertoj .snc_mrk a:active {
    /*border-style: inset */
    border: 2px solid #153501;
    border-radius: 5px;
    background: #b3a05d;
}

.status_ok {
    background-color: greenyellow;
}

#xml {
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    width: 100%;
    flex: 1;
    margin: 0;
    padding: 0;
    border: none !important;
}

#vrt, #html, #sercho, #xml_redakto {
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}

#vrt, #xml_redakto, #html, #sercho {
    /*border: 1px solid red;*/    
    /*border-bottom: 1px solid var(--main-brd-clr);*/
    border-right: 1px solid var(--main-brd-clr);
    /*height: 80%; */
    flex: 1;
    -webkit-flex: 1;
    width: 100%;
    margin: 0 !important;
    padding: 0;
    overflow: hidden;
    /*overflow: auto;*/
}

#html {
    background-color: var(--main-bgr-clr); 
    color: var(--main-fnt-clr); 
}

#rigardo {
    margin-left: 1em;
    margin-top: 0.1 em;
    margin-bottom: 0.5 em;
    margin-right: 0.5 em;

    font-family: "DejaVu Sans",sans-serif; 

    background-color: var(--main-bgr-clr); 
    color: var(--main-fnt-clr); 

    /*border: 1px solid blue;*/
    
    /*width: 100%;*/
    height: 100%;
    flex: 1;
    -webkit-flex: 1;
    align-content: stretch;
    -webkit-align-content: stretch;
    
    overflow: auto;
}

/*
#rigardo footer {
    border-bottom: 2px dotted var(--main-brd-clr);
}
*/

#xml_text {
    /*width: 100%;*/
    flex: 1;
    -webkit-flex: 1;
    font-family: monospace;
    margin: 1px;
    /*height: 100%*/
}

#xml_supro {
    display: flex;
}

#art_strukturo {
    flex: 1;
}

#sercho_fono {
    /*border: 1px solid blue;*/
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;

    background-color: var(--main-bgr-clr); 
    color: var(--main-fnt-clr); 
    
    /*border: 1px solid red;*/
    
    flex: 1;
    -webkit-flex: 1;
    margin-left: .5em;
    margin-right: .5em;
    
    overflow: hidden;
    /*height: 400px;*/
}


#sercho_form {
    /*border: 1px solid #f5f3e5;*/
    margin-top: 0.5em;
}

#sercho_form p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#sercho_form .ui-button {
    border: 1px hidden !important;
    /*font-size: 88%;*/
    padding: 0.3em;
    margin: .3em;
}

/*
#sercho_verklisto button {
    font-size: 88%;
    padding: 0.3em;
    margin: .2em;
}
*/

.ui-slider {
    border: 1px solid var(--main-brd-clr);
    border-radius: 5px / 50%;
    height: 0.5em;
}

.ui-slider-handle {
    border: 1px solid var(--main-brd-clr);
    background-color: var(--main-bgr-clr);
    border-radius: 5px;
}

.periodilo {
    display: inline-block;
    min-width: 30em;
    margin: 0;
    margin-left: 1em;
    margin-right: 2.5em;
}

.manilo {
    width: 3em !important;
    height: 1.6em !important;
    /*top: 50% !important;*/
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
}

#re_esprimo:empty
{
    display: none;
}
#re_esprimo,
#re_radiko {
    word-break: break-all;
    border-radius: 3px;
    background-color: var(--main-ac2-bgr-clr);
    border-left: 2px dotted var(--main-brd-clr);
    margin-top: .2em;
    margin-bottom: .2em;
}
#re_esprimo {
    padding: .4em;
}

#sercho_trovoj {
    border: 1px solid silver;
    border-radius: 4px;
    /*padding: 1em;*/
    margin-top: 0;
    
    /*border: 1px solid blue;*/
    
    flex: 1;
    -webkit-flex: 1;
    
    margin-bottom: 0.5em;
    overflow: auto;
}

#sercho details {
    background-color: var(--main-ac3-bgr-clr);
}

#sercho summary {
    margin: .3em;
}

#serch_btnj {
    margin-top: .2em;
    background-color: var(--main-ac3-bgr-clr);
}

#sercho_det_regexes {
    margin-top: .4em;
    margin-bottom: .4em;
    /*border-top: 1px dotted var(--main-brd-clr);*/
    border-bottom: 1px dotted var(--main-brd-clr);    
}



#sercho_det_verklisto {
    flex: 0;
    -webkit-flex: 0;

    /* evitu ke verkolisto plilongiĝu ol la videbla paĝo */
    box-sizing: border-box;
    max-height: 100%;
    /*
    display: flex; 
    flex-direction: column; 
    */
}

#sercho_verklisto {
    border: 1px solid silver;
    border-radius: 4px;
    /*padding: 1em;*/
    margin-top: 0;
    overflow: auto; 
    margin-bottom: 0.5em;

    /* evitu ke verkolisto plilongiĝu ol la videbla paĝo */
    box-sizing: border-box;
    max-height: 60vh;
}


#sercho_verklisto div {
    padding: 0.12em;
    border: 1px hidden !important;
    display: flex;
    flex-direction: row-reverse;
}


#sercho_verklisto input {
    border: 1px hidden !important;
    box-shadow: none;
    margin-left: 0.3em;
    margin-right: 0.05em;
}

#sercho_verklisto label {
    width: 50em;
    text-align: left;
    /*border: 1px solid gray !important;*/
    border: 1px hidden !important;
    margin: 1px !important;
    padding: 0.1em !important;
    padding-left: 4ex !important;
    text-indent: -2.5ex;
}

#surmetita_dlg[open] {
    display: flex;
    flex-direction: column;
}

#surmetita_dlg {
    width: fit-content;
    height: fit-content;
    /*
    max-width: 92%;
    max-height: 92%;
    */
    margin: .5em;
}

#surmetita_dlg>* {
    flex: 0;
}

#surmetita {
    flex: 1;
    background-color: var(--ovr-bgr-clr);
    overflow-y: scroll;
}

.perc_bar {
    color: #327e04;
}

.trovo_titolo {
    font-weight: bold;
    font-size: 90%;
}

.trovo_titolo a:link {
    color: var(--a-fnt-clr); /*#312e25;*/
}

/*
.trovo_titolo a:visited {
    color: #615e55;
}*/

.trovo_titolo a:active,
.trovo_titolo a:hover {
    color: var(--main-act-fnt-clr) !important;
}


.versio {
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,.4);
    padding: .2em;
    margin: 0; 
    width: 100%;
    font-family: sans-serif;
    font-size: small;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
}

.versio a:link,
.versio a:visited {
    text-decoration: none;
    color: whitesmoke;
}

/*
#positions {
    position: absolute;
    max-height: 90%;
    right: 0;
    bottom: 0;
    overflow: auto;
    padding: 0.2em;
    font-size: small;
    border-right: none;
    border-bottom: none;
}


#collapse_outline {
    //overflow: auto !important;
    // max-height: 90% !important;
}
*/

/*
#art_outline {
    margin-bottom: 0.3em;
    padding: 0.1em !important;
}

#art_outline ol {
    padding-top: 0;
    margin-top: 0;
    margin-right: 0.1em;
    //padding-bottom: 0;
    //margin-bottom: 0
}

#art_outline li:hover {
   background-color: #e5e3d5;  
}

#art_outline li {
  //  list-style-type: none
}

#edit_position {
    //border-top: 1px solid #327e04;
    font-weight: bold;
    text-align: center
}
*/

#ekzemplo_sercho_rezultoj {
  max-height: 15em;
  overflow: auto;  
}

.dlg_tab_div {
    overflow-y: auto;
    overflow-x: visible;
    max-height: 30ex;
}

.dlg_tabelo {
    border-collapse: collapse;
    border: 1px solid #e3a345;
    margin-left: 1em;
    margin-right: 1em;
    /*height: 900px;*/
    /*border-radius: 4px;*/
}

.dlg_tabelo td {
    border: 1px solid #e3a345;
    /*border-radius: 4px;*/
    padding: 0.2em;
    vertical-align: top
}

#traduko_dlg {
    width: fit-content;
    padding-left: 0;   
}

#traduko_dlg tr.tr_drv {
    background-color: var(--main-ac3-bgr-clr);
}

#traduko_sidebar {
    /*display: inline-block; ne kuniras kun float: left*/
    float: left;
    vertical-align: top;
    height: 100%;
    flex: 0.1 0.1 10em;
    -webkit-flex: 0.1 0.1 10em;
    min-width: 8em;
/*    
    overflow-y: auto;
    //overflow-x: hidden;
    padding: 0;
    margin: 0;
    position: relative;
    top: 0;
    width: 15%;
    */
    border: 0px solid red
}

#traduko_menuo {
    height: 100%
}

#traduko_tabelo {
    display: flex; /*inline-block;*/
    flex-direction: column;
    -webkit-flex-direction: column;
    vertical-align: top;
    flex: 1;
    -webkit-flex: 1;
/*    
    padding: 0;
    margin: 0;
    //height: 100%;
    //width: 80%;
    */
    border: 0px solid blue
}


#sxablono_xml {
    background-color: var(--shb-bgr-clr);
}

#sxablono_form button {
    font-size: .7em;
    margin: 0;
    padding: .2em .6em;
}

#traduko_menuo .ui-menu-divider {
    margin: 0;
    padding: 0;
    height: 0;
    color: rgba(0,0,0,0);
    border-width: 1px 0 1px 0;
}

#traduko_aliaj {
    border: none;
}

#traduko_artikolaj {
    columns: 2;
}

#traduko_chiuj_a_b,
#traduko_chiuj_c_g,
#traduko_chiuj_h_j,
#traduko_chiuj_k_l,
#traduko_chiuj_m_o,
#traduko_chiuj_p_s,
#traduko_chiuj_t_z {
    columns: 4;
}

#traduko_tabelo {
    border-bottom: 1px dotted var(--input-brd-clr);
}

#traduko_tabelo button {
    margin: 0;
    padding: .1em .6em;
}

pre.line {
    margin: 0;
}

.sxbl {
    /* margin: 0; */
    background-color: var(--sh2-bgr-clr); 
}

.sxbl:hover {
    /* margin: 0; */
    background-color: var(--shb-hov-bgr-clr); 
    cursor: pointer;
}


/* stiloj por analizo (vort-kontrolo) */
.malstrikte { color: black }
.neanalizebla { color:red; font-weight: bold}
.dubebla { color: #bb2222 }
.verda { color: rgb(211, 51, 12) }
.kuntirita { color: black }
.redakti {font-size: larger; color: black}
.mlg {font-weight: bold}

.bildstrio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.bildstrio .butonoj {
    font-size: 1em;
    min-height: 1em;
    margin-bottom: 0.1em;
    height: fit-content;
}

.bildstriero {
    font-size: small;
    height: 150px;
    width: 130px;
    margin: 0.2em;
    border: 1px solid gray;
    text-align: center;
    background-color: silver;
    padding: 2px;
    overflow: hidden;
}   

.bildstriero p {
    margin: 0px
}

span.searchmatch {
    font-weight: bold;
}

.animated-dock-font {
    animation: dock-font-color-change 3s infinite;
}


/**
.bildstriero p.butonoj {
    vertical-align: bottom
}
**/



/***************************************
   Supermetitaj dialogoj - jam en kadro.css, sed
   ni momente tion ne kunpakas en stildifinoj por redaktilo Cetonio...
****************************************/

.overlay {
    position: absolute;
    z-index: 110;
    max-width: 96vw;
    max-height: 85vh;     
    overflow: auto;
    right: 0.5em;
    top: 2.5em;
    font-weight: normal;
    font-size: 1rem;
    background-color: var(--ovr-bgr-clr);

    padding: 0.5em;
    border: 2px dotted var(--ovr-brd-clr);
    box-shadow: 5px 5px 10px;
}

.overlay .fermu {
    position: absolute;
    top: .2em;
    right: .2em;
    height: 1.6em;
    padding: 0 .3em;
    background-color: var(--ovr-bgr-clr);
}


.overlay button {
    height: 2.2em;
    padding: 0 .5em;
}
